.page-body {
  max-width: 1500px;

  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: grid;
  grid-template-columns: 250px minmax(650px, 1fr) 320px;

  gap: 2rem;
}

.activity-column {
  position: sticky;
  top: 90px;
  height: fit-content;
  height: 100%;
}

.side-column {
  position: sticky;
  top: 90px;
  height: fit-content;
}